.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;;
  color: #fff;
  padding: 10px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.list {
  display: flex;
}

.list__item {
  font-size: 20px;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.avatar-wrapper {
  display: flex;
  margin-left: 100px;
}

.avatar {

}

.login {
  margin-left: 15px;
}
