.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;;
  color: #fff;
  padding: 10px 20px;
  animation-duration: 2s;
  animation-name: showIn;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.list {
  display: flex;
}

.list__item {
  font-size: 20px;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.avatar-wrapper {
  display: flex;
  margin-left: 100px;
  color: white;
}

.login {
  margin-left: 15px;
}

@keyframes showIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
