.title {
  text-align: center;
}

.row {
  transform: translate(-1500px, -50%);
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.7s;

  &:nth-child(odd) {
    animation-name: slideLeft;
  }

  &:nth-child(even) {
    animation-name: slideRight;
  }
}

@keyframes slideLeft {
  from {
    transform: translate(-1000px, -0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translate(1000px, -0);
  }
  to {
    transform: translate(0, 0);
  }
}
